$sp-space--xxs: 2px !default;
$sp-space--xs: 4px !default;
$sp-space--sm: 8px; !default;
$sp-space--md: 12px !default;
$sp-space--lg: 16px  !default;
$sp-space--xl: 24px !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 16px !default;

$font-size-xs: 12px !default;
$font-size-base: 16px !default;
$font-size-xl: 24px !default;

$headings-font-weight: 600;

$panel-default-border: #DADDE2 !default;

$border-radius-base: 4px !default;
$border-radius-large: 8px !default;


$brand-primary: #4F52BD !default;
$background-primary: #FFFFFF! default;
$input-border-focus: #3C59E7 !default;
$link-color : #3C59E7 !default;
$color-darker: #474D5A !default;
$gray-light: #656E81 !default;

$btn-default-color: #4F52BD !default;
$btn-default-border: #4F52BD !default;

$circle-size: 12px;
$small-circle-size: 8px;

$border-width-small: 2px !default;

.fa {         
  font-size: $font-size-base;
  font-weight: 400; 
  color: $brand-primary;
}

.no-app {
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;
  text-align: center;
  justify-content: center;
  padding: $sp-space--xl;
  color: $color-darker;            

  .fa {
    font-size: 4.8rem;
    margin-bottom: $sp-space--md;
    color: $gray-light;
  }
}

.your-favorites-container {
  min-height: 20rem;
  background-color: $background-primary;
  border-radius: $border-radius-base;

  .panel-body {
    padding: $sp-space--xl;
  }

  .favorite-footer {
    margin-top: $sp-space--xl;

    .view-all-container {
      text-align: center;

      .view-all {
        margin-left: auto;
        margin-right: auto;
        color: $link-color;
        font-weight: $headings-font-weight;
        padding: $padding-base-vertical $padding-base-horizontal;
        cursor: pointer;
        display: inline-block;

        .fa {
          margin-left: 0.8rem;
          color: $link-color;
        }
      }
    }
  }

  .favorite-section {
    display: grid;
    gap: $sp-space--lg $sp-space--xl;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .favorite-section.card-view {
    grid-column-gap: $sp-space--lg;
  }

  .favorite-flex-item {
    position: relative;
    height: 100%;
  }

  .card-border {
    border-radius: $border-radius-base;
    border: 1px solid $border-tertiary;
  }

  .card-border:hover {
    box-shadow: 0rem 0.2rem 1rem #E5E5E5;
  }

  .scrolling-panel {
    position: relative;

    .favorite-section {
      display: flex;
      gap: 0;
      overflow-x: hidden;
      padding: $sp-space--xxs;

      .favorite-body-content {
        flex-shrink: 0;
        &:not(:last-child) {
          margin-right: $sp-space--lg;
        }
      }
    }

    .slide-control-container {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      width: 40px;
      z-index: 1;
      border: 1px solid transparent;
      box-shadow: 0rem 0rem 0.5rem transparent;

      &:focus {
        border: 1px solid $input-border-focus;
      }

      .slide-control {
        width: 100%;
        height: 100%;
      }

      .btn {
        font-size: $font-size-base;
      }

      .glyphicon {
        top: auto;
      }

      .favorite-control-circle {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $sp-space--xl;
        height: $sp-space--xl;
        border: 1px solid $btn-default-border;
        border-radius: 50%;
        padding: 0px;
        flex-shrink: 0;
      }
    }

    .left-control {
      left: 0px;
      margin-left: -24px;
      .favorite-control-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .right-control {
      right: 0px;
      margin-right: -24px;
      .favorite-control-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .fader {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      width: 40px;
    }

    .right-fade {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
      right: -24px;
    }

    .left-fade {
      background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      left: -24px;
    }
  }

  .scrolling-panel-footer {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .favorite-carousel-indicator-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .scrolling-panel-footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .favorite-carousel-indicator-wrapper {
    display: flex;
  }

  .favorite-carousel-indicator.circle {
    width: $circle-size;
    height: $circle-size;
    margin: $sp-space--xxs;
    border-radius: 50%;
    border: 1px solid $brand-primary;
    overflow: hidden;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    will-change: background, transform;
    text-indent: -9999px;
  }
  
  .favorite-carousel-indicator:focus {
    border-color: $input-border-focus;
    border-width: $border-width-small;
    box-shadow: none;
  }

  .favorite-carousel-indicator.circle[aria-current="page"] {
    transform: scale(1.2);
    opacity: 1;
  }

  .favorite-carousel-indicator.small {
    width: $small-circle-size;
    height: $small-circle-size;
    margin: $sp-space--xs;
  }

  .favorite-carousel-indicator.active {
    background-color: $brand-primary;
  }
  
  .favorite-carousel-indicator.active:focus {
    border-color: $input-border-focus;
    border-width: $border-width-small;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
  }

  .favorite-carousel-indicator.hidden {
    width: 0px;
    height: 0px;
    border: 0px;
  }

  .scrolling-panel-footer > :only-child,
  .scrolling-panel-footer-mobile > :only-child {
    margin: auto;
  }

  .scrolling-panel-footer,
  .scrolling-panel-footer-mobile {
    .view-all-container {
      .view-all {
        padding: 0 $sp-space--xs;
        display: flex;
        align-items: center;
        gap: $sp-space--sm;

        .fa {
          font-size: $font-size-xs;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .your-favorites-container .panel-body > :not(.scrolling-panel) {
    .favorite-section {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      .favorite-body-content {
        margin-right: 0;
      }
    }
  }
}

/* IE specific Class to override */
@media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .panel-body > :not(.scrolling-panel) > #favorite-list-item-contents-section {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .list-item {
        width: 350px;
        max-width: 350px;
      }
    }
}

/* IE specific Class to override */
@media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .text-ellipsis {
      white-space: nowrap;
    }
    .text-ellipsis {
      width: 234px;
    }
    .text-ellipsis {
      width: 320px;
    }
}

a:focus {
  outline:0;
  outline-offset: -.125rem;
}
.skeleton-loader {
    animation: progress 2s ease-in-out infinite;
    background: rgb(239, 241, 246) no-repeat;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    border-radius: 4px;
    width: 100%; 
    height: 40px;
}

.skeleton-loader-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px; 
  gap: $sp-space--lg;
}

//Custom CSS

.d-flex{
  display: flex;
}
.d-flex-inline{
  display: inline-flex;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.align-items-center{
  align-items: center;
}

.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}

.border-bottom{
  border-bottom: $border-width-small solid $panel-default-border;
}
.updates-container{
  min-height: 8.25rem;
  background-color: $background-primary;
 
}
.update-body{
  padding: $sp-space--sm;
}
.mg-b-xs{
  margin-bottom: $sp-space--xs;
}
.state-pill-updated{
  max-height: 1.5rem;
  min-width: 7rem;
  background-color:#676CFF ;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 600;
}
.state-pill-new{
  max-height: 1.5rem;
  min-width: 7rem;
  background-color:#FF5D5D ;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 600;
}
.mg-none{
  margin:0px;
}
.mg-b-1-2{
  margin-bottom: 1.2rem;
}
.col-link{
  color: $link-color;
}
.col-grey-light{
  color: #a2a0a0;
}
.col-no-data{
  color: #676E80;
}
.link-normalise{
  color: inherit;
  text-decoration: none;
}
.font-s-base{
  font-size: $font-size-base;
}
.font-s-small{
  font-size: $font-size-xs;
}
.font-w-large{
  font-weight: 800; 
}
.font-w-base{
  font-weight: 400;
}
.underline:hover{
  text-decoration: underline;
}
.min-h-0{
  min-height: 0px;
}
min-h-10{
  min-height: 10rem;
}
.description-h{
  min-height:3.5rem;
}
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}
.align-center{
  text-align: center;
}